<h3 class="defense-title pf-heading">{{localize "PF2E.PerceptionHeader"}}</h3>
<ol class="defense-list">
  <li class="defense" data-attribute="perception">
    <span class="defense-score rollable" title="{{data.attributes.perception.breakdown}}">{{numberFormat data.attributes.perception.value decimals=0 sign=true}}</span>
    <h4 class="attribute-name rollable">{{localize "PF2E.PerceptionLabel"}}</h4>
    <div class="defense-container">
      <h4 class="proficiency-name pf-title">{{localize "PF2E.ProficiencyRankLabel"}}</h4>
      <input type="hidden" name="data.attributes.perception.rank" value="{{data.attributes.perception.rank}}" data-dtype="Number"/>
      <span class="proficiency-rank click-stat-level pf-value" title="{{data.attributes.perception.hover}}">{{{data.attributes.perception.icon}}}</span>
    </div>
    <div class="defense-container">
      <h4 class="defense-item pf-title">{{localize "PF2E.ItemBonusShortLabel"}}</h4>
      <span class="defense-item-value pf-value" title="{{localize "PF2E.ItemTitle"}}">
        <input name="data.attributes.perception.item" type="text" value="{{data.attributes.perception.item}}"
                                                                  data-dtype="Number" placeholder="+0"/>
      </span>
    </div>
  </li>

</ol>
