<h3 class="hp-title pf-heading">{{localize "PF2E.InitiativeHeader"}}</h3>
<ol class="hp-list-small" style="margin-bottom: 4px;">
  <li class="li-two-grid-small" data-attribute="initiative">
    <div class="defense-container pf-justify-center" style="width: 80px;">
      <h4 class="defense-item pf-title">{{localize "PF2E.CircumstanceBonusShortLabel"}}</h4>
      <span class="defense-item-value pf-value" title="{{localize "PF2E.CircumstanceBonusTitle"}}">
        <input name="data.attributes.initiative.circumstance" type="text" value="{{data.attributes.initiative.circumstance}}"
                                                                          data-dtype="Number" placeholder="+0"/>
      </span>
    </div>
    <div class="defense-container pf-justify-center">
      <h4 class="defense-item pf-title">{{localize "PF2E.StatusBonusShortLabel"}}</h4>
      <span class="defense-item-value pf-value" title="{{localize "PF2E.StatusBonusTitle"}}">
        <input name="data.attributes.initiative.status" type="text" value="{{data.attributes.initiative.status}}"
                                                                    data-dtype="Number" placeholder="+0"/>
      </span>
    </div>
  </li>

</ol>
